.contact-us {
    width: 100%;
    display: grid;
    place-items: center;

    h1 {
        font-size: 30px;
    }

    .email-div {
        width: 50%;

        @media screen and (max-width: 768px) {
            width: 90%;
        }

        .form {

            >* {
                margin-top: 1.5rem;
            }

            input,
            textarea {
                padding: 0.7rem 1rem;
                border: 1px solid var(--accent-color);
                font-family: inherit;

                border-radius: 5px;

                &:focus {
                    outline: none;

                    &::placeholder {
                        color: var(--primary-color);
                    }
                }
            }

            .form-div {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
            }
        }

        .action-buttons {
            margin-top: 10px;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;

            button {
                padding: 0.5rem 0.75rem;
                font-size: 1rem;
            }

            .duse {
                background-color: var(--cooler-white);
                color: hsl(142, 70%, 49%);
                border: 1px solid hsl(142, 70%, 49%);
                border-radius: 5px;
            }


            .shop-now {
                color: white;
                background-color: var(--accent-color);
                border: 2px solid var(--accent-color);
                border-radius: 5px;
            }
        }
    }
}