.slider {
    margin: 0;
    margin-top: 12vh;
    padding: 0;
    
    .slider-js {
        position: relative;
        height: clamp(70vh, 85vh, 100vh);

        .swiper {
            .swiper-slide {
                .image-container {
                    width: 100%;
                    height: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .swiper-pagination {
                position: absolute;
                bottom: 0;
                left: 0;

                .swiper-pagination-bullet {
                    width: 0.5rem;
                    height: 0.5rem;
                    border-radius: 50%;
                    background-color: #fff;
                    margin: 0 0.5rem;
                    transition: background-color 0.5s cubic-bezier(0, 0.7, 0.4, 0.9);

                    &.swiper-pagination-bullet-active {
                        background-color: var(--accent-color);
                        transition: background-color 0.5s cubic-bezier(0, 0.7, 0.4, 0.9);
                    }
                }
            }
        }
    }

    .image-caption {
        position: absolute;
        display: flex;
        z-index: 5;
        justify-content: space-around;
        align-items: center;
        left: 0;
        bottom: 0;
        height: 20%;
        width: 100%;
        padding: 1rem;
        background-color: rgba(0, 0, 0, 0.5);
        font-size: 1.2rem;
        font-weight: 500;

        .col {
            text-align: start;
        }

        .call-to-action[role="button"] {
            padding: 1rem;
            background-color: var(--accent-color);
            color: #fff;
            border-radius: 5px;
            transition: background-color 0.2s cubic-bezier(0, 0.7, 0.4, 0.9);

            &:hover {
                background-color: var(--primary-color);
                color: #fff;
            }

            &.active {
                background-color: var(--accent-color);
                color: #fff;
            }
        }
    }
}