.footer {
    min-height: 250px;
    color: aliceblue;
    width: 100vw;
    overflow-x: hidden;

    .custom-container {
        max-width: 1170px;
        margin: auto;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        * {
            flex: 1 1 25%;
        }

        @media screen and (max-width: 768px) {
            flex-direction: column;
            justify-content: space-around;
            height: 500px;
        }
    }

    .footer-col {
        width: 25%;
        padding: 0 15px;

        h4 {
            font-size: 18px;
            color: #ffffff;
            text-transform: capitalize;
            margin-bottom: 35px;
            font-weight: 500;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                bottom: -10px;
                background-color: var(--accent-color);
                height: 2px;
                box-sizing: border-box;
                width: 50px;
            }

            @media screen and (max-width: 768px) {
                width: max-content;
            }
        }

        a{
            color: #bbbbbb;
        }

        ul {
            li {
                a {
                    font-size: 16px;
                    text-transform: capitalize;
                    text-decoration: none;
                    font-weight: 300;
                    color: #bbbbbb;
                    display: block;
                    transition: all 0.3s ease;
                    width: max-content;

                    &:hover {
                        color: #ffffff;
                        padding-left: 8px;
                    }
                }

                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }

            .social-links {
                margin-top: 20px;

                a {
                    font-size: 16px;
                    text-decoration: none;
                    color: #ffffff;
                    display: inline-block;
                    height: 40px;
                    width: 40px;
                    background-color: rgba(255, 255, 255, 0.2);
                    margin: 0 10px 10px 0;
                    text-align: center;
                    line-height: 40px;
                    border-radius: 50%;
                    transition: all 0.5s ease;

                    &:hover {
                        color: #24262b;
                        background-color: #ffffff;
                    }
                }
            }
        }
    }
}