@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,300;0,400;0,500;0,800;1,200&display=swap");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

body:nth-child(1n) {
  background-color: var(--primary-color);
  color: white;
}

section {
  min-height: fit-content;
  position: relative;
  margin-top: 150px;
  margin-bottom: 150px;
  padding-bottom: 50px;
}

section::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -75px;
  transform: translateX(20%);
  display: block;
  width: 70%;
  height: 1px;
  background-color: var(--accent-color);
}

section > h1 {
  margin-bottom: 50px;
  font-size: 30px;
}

:root {
  --primary-color: hsl(214, 64%, 13%);
  --accent-color: hsl(49, 94%, 51%);
  font-family: "Chivo Mono", "Courier New", Courier, monospace;
}

::-webkit-scrollbar {
  width: 0.2rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
}

::-webkit-scrollbar-track {
  background: var(--primary-color);
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  background-color: var(--primary-color);
  color: white;
  height: 12vh;
  min-height: 60px;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  transition: height 0.5s cubic-bezier(0, 0.7, 0.4, 0.9);
}
.nav .logo {
  position: relative;
  width: 200px;
  height: 50px;
}
.nav .logo .logo-img {
  position: absolute;
  width: 200px;
  object-fit: cover;
  top: -50px;
}
.nav .mid {
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.nav .mid .nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .mid .nav-links .nav-link {
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  transition: color 0.5s cubic-bezier(0, 0.7, 0.4, 0.9);
}
.nav .mid .nav-links .nav-link:hover {
  color: var(--accent-color);
  cursor: pointer;
}
.nav .mid .nav-links .nav-link.active {
  color: var(--accent-color);
}
.nav .end {
  margin-right: 2rem;
}
.nav .end .action {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.nav .end .portfolio-link {
  padding: 1rem 2rem;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  color: var(--accent-color);
  font-size: 1.2rem;
  font-weight: 500;
  transition: all 0.5s cubic-bezier(0, 0.7, 0.4, 0.9);
}
.nav .end .portfolio-link:hover {
  background-color: var(--accent-color);
  color: var(--primary-color);
  cursor: pointer;
}
.nav .end .chat-icon-container lottie-player {
  width: 50px;
  height: 50px;
  transition: all 0.5s ease;
}
.nav .end .chat-icon-container lottie-player:hover {
  cursor: pointer;
  scale: 1.2;
  transition: all 0.5s cubic-bezier(0, 0.7, 0.4, 0.9);
}
.nav .end .chat-icon-container .chat-notification {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  top: 0;
  right: 0;
}
.nav .end .ham {
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.nav .end .ham .bar {
  width: 30px;
  height: 3px;
  background-color: var(--accent-color);
  margin: 5px;
  transition: all 0.3s cubic-bezier(0, 0.7, 0.4, 0.9);
}

@media screen and (max-width: 1366px) {
  .nav .nav-links {
    width: fit-content;
  }
}
@media screen and (max-width: 768px) {
  .nav {
    padding: 0;
  }
  .nav .logo {
    margin-left: -20px;
  }
  .nav .mid {
    top: -100%;
    transition: top 0.5s cubic-bezier(0, 1.26, 0.59, 0.82);
  }
  .nav .mid.active {
    background-color: var(--accent-color);
    top: 12vh;
    height: 50vh;
    width: 100%;
    transition: top 0.5s cubic-bezier(0, 0.7, 0.4, 0.9);
  }
  .nav .mid.active .nav-links {
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding: 2rem 0;
    background-color: var(--primary-color);
  }
  .nav .end {
    margin-right: 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .nav .end .portfolio-link {
    display: none;
  }
  .nav .end .ham {
    display: block;
  }
  .nav .end .ham.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(7px, 7px);
  }
  .nav .end .ham.active .bar:nth-child(2) {
    opacity: 0;
  }
  .nav .end .ham.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  .nav .end .chat-icon-container lottie-player {
    width: 40px;
    height: 40px;
  }
}
.slider {
  margin: 0;
  margin-top: 12vh;
  padding: 0;
}
.slider .slider-js {
  position: relative;
  height: 85vh;
}
.slider .slider-js .swiper .swiper-slide .image-container {
  width: 100%;
  height: 100%;
}
.slider .slider-js .swiper .swiper-slide .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.slider .slider-js .swiper .swiper-pagination {
  position: absolute;
  bottom: 0;
  left: 0;
}
.slider .slider-js .swiper .swiper-pagination .swiper-pagination-bullet {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 0.5rem;
  transition: background-color 0.5s cubic-bezier(0, 0.7, 0.4, 0.9);
}
.slider .slider-js .swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--accent-color);
  transition: background-color 0.5s cubic-bezier(0, 0.7, 0.4, 0.9);
}
.slider .image-caption {
  position: absolute;
  display: flex;
  z-index: 5;
  justify-content: space-around;
  align-items: center;
  left: 0;
  bottom: 0;
  height: 20%;
  width: 100%;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  font-weight: 500;
}
.slider .image-caption .col {
  text-align: start;
}
.slider .image-caption .call-to-action[role=button] {
  padding: 1rem;
  background-color: var(--accent-color);
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.2s cubic-bezier(0, 0.7, 0.4, 0.9);
}
.slider .image-caption .call-to-action[role=button]:hover {
  background-color: var(--primary-color);
  color: #fff;
}
.slider .image-caption .call-to-action[role=button].active {
  background-color: var(--accent-color);
  color: #fff;
}

.footer {
  min-height: 250px;
  color: aliceblue;
  width: 100vw;
}
.footer .custom-container {
  max-width: 1170px;
  margin: auto;
}
.footer .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer .row * {
  flex: 1 1 25%;
}
@media screen and (max-width: 768px) {
  .footer .row {
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
  }
}
.footer .footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer .footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer .footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: var(--accent-color);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
@media screen and (max-width: 768px) {
  .footer .footer-col h4 {
    width: max-content;
  }
}
.footer .footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
  width: max-content;
}
.footer .footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer .footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer .footer-col ul .social-links {
  margin-top: 20px;
}
.footer .footer-col ul .social-links a {
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  transition: all 0.5s ease;
}
.footer .footer-col ul .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

.contact-us {
  width: 100%;
  display: grid;
  place-items: center;
}
.contact-us .email-div {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .contact-us .email-div {
    width: 90%;
  }
}
.contact-us .email-div .form > * {
  margin-top: 1.5rem;
}
.contact-us .email-div .form input,
.contact-us .email-div .form textarea {
  padding: 0.7rem 1rem;
  border: 1px solid var(--accent-color);
  font-family: inherit;
  border-radius: 5px;
}
.contact-us .email-div .form input:focus,
.contact-us .email-div .form textarea:focus {
  outline: none;
}
.contact-us .email-div .form input:focus::placeholder,
.contact-us .email-div .form textarea:focus::placeholder {
  color: var(--primary-color);
}
.contact-us .email-div .form .form-div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.contact-us .email-div .action-buttons {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.contact-us .email-div .action-buttons button {
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
}
.contact-us .email-div .action-buttons button:hover {
  cursor: pointer;
}
.contact-us .email-div .action-buttons .duse {
  background-color: var(--cooler-white);
  color: hsl(142deg, 70%, 49%);
  border: 1px solid hsl(142deg, 70%, 49%);
  border-radius: 5px;
}
.contact-us .email-div .action-buttons .shop-now {
  color: white;
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
  border-radius: 5px;
}

/* Services */
.services {
  display: grid;
  place-items: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  column-gap: 1rem;
  row-gap: 2rem;
  margin: auto;
  margin-top: 20px;
}

/* img-card */
.img-card {
  width: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

.card-content {
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-card .card-image {
  position: relative;
  overflow: hidden;
  border-radius: 5px 5px 0px 0px;
  height: 200px;
}

.img-card .card-image img {
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0px 0px;
  object-fit: cover;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

.img-card .card-image:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.img-card .card-text {
  padding: 0 15px 15px;
  line-height: 1.5;
}

.img-card .card-link {
  padding: 20px 15px 30px;
  width: -webkit-fill-available;
  cursor: pointer;
  margin-top: auto;
}

.img-card .card-link a {
  text-decoration: none;
  position: relative;
  padding: 10px 0;
}

.img-card .card-link a:after {
  top: 30px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  width: 0;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  -moz-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.img-card .card-link a:hover:after {
  width: 100%;
  left: 0;
}

.img-card.iCard-style4 {
  text-align: right;
}

.img-card.iCard-style4 .card-caption {
  position: absolute;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  z-index: 1;
  top: 10px;
  display: none;
  right: 10px;
  color: #fff;
}

.img-card.iCard-style4 .card-title {
  width: 100%;
  padding: 20px 0px 12px 0;
  margin-left: -10px;
  color: var(--accent-color);
}

.img-card.iCard-style4 .card-title span {
  font-size: 25px;
  text-align: right;
  margin-left: auto;
}

.img-card.iCard-style4 .toggle {
  cursor: pointer;
  padding: 8px 0px 13px 0px;
  width: 55px;
  margin-top: auto;
}

.img-card.iCard-style4 .toggle span,
.img-card.iCard-style4 .toggle span:nth-child(2),
.img-card.iCard-style4 .toggle span:nth-child(3) {
  position: absolute;
  width: 8px;
  height: 8px;
  background: var(--accent-color);
  cursor: pointer;
}

.img-card.iCard-style4 .toggle span:nth-child(1) {
  right: 15px;
}

.img-card.iCard-style4 .toggle span:nth-child(2) {
  right: 27px;
}

.img-card.iCard-style4 .toggle span:nth-child(3) {
  right: 39px;
}

.img-card.iCard-style4 .card-text {
  opacity: 0;
  line-height: 0;
  padding-bottom: 0;
  color: #4c4c4c;
  -webkit-transition: ease-in-out 0.5s;
  -moz-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.img-card.iCard-style4 .toggle.active ~ .card-text {
  opacity: 1;
  line-height: 1.5;
  padding-bottom: 10px;
}

.img-card.iCard-style4 .card-link {
  border-top: 1px solid #e8e8e8;
}

.img-card.iCard-style4 .card-link a {
  color: var(--accent-color);
}

.img-card.iCard-style4 .card-link a:after {
  background: var(--accent-color);
}

.about-us {
  display: grid;
  place-items: center;
}
.about-us > h1 {
  margin-bottom: 70px;
}
.about-us .who-we-are {
  display: flex;
  justify-content: space-around;
  width: 80%;
}
.about-us .who-we-are p {
  width: 40%;
}
@media screen and (max-width: 768px) {
  .about-us .who-we-are {
    flex-direction: column;
    gap: 2rem;
  }
  .about-us .who-we-are p {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
