@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,300;0,400;0,500;0,800;1,200&display=swap');

:root{
    --primary-color: hsl(214, 64%, 13%);
    --accent-color: hsl(49, 94%, 51%);
    font-family: 'Chivo Mono', 'Courier New', Courier, monospace;
}

// style bowser track
::-webkit-scrollbar{
    width: 0.2rem;
}

::-webkit-scrollbar-thumb{
    background-color: var(--accent-color);
}

::-webkit-scrollbar-track{
    background: var(--primary-color);
}
